{% extends 'admin/layout.html.twig' %}

{% block content %}
<h1>Gestion des channels</h1>

<table class="table">
  {% for channel in channels %}
    <tr>
      <td class="col-md-12">
        {{channel.tag}}
      </td>
      <td class="col-md-12">
        <form action="{{path('channel_remove', {id:channel.id})}}" method="POST">
          <button type="submit" class="btn btn-danger btn-sm"> <i class="glyphicon glyphicon-trash"></i> Supprimer</button>
        </form>
      </td>
    </tr>
  {% endfor %}

    <form action="{{path('channel_add')}}" method="POST" class="form">
      <tr>
        <td class="col-md-6">
          <input type="text" name="channel[tag]" clas="form-control input-lg"/>
        </td>
        <td class="col-md-6">
          <button type="submit" class="btn btn-success btn-sm"> <i class="glyphicon glyphicon-plus"></i> Ajouter</button>
        </td>
      </tr>
    </form>
</table>

{% endblock %}