{% extends 'admin/layout.html.twig' %}

{% block content %}

<script type="text/html" id="popover_tag">
  <ul class="list-unstyled">
    {% for tag in tags %}
      <li><a href="" class="add_tag" data-tag_id="{{tag.id}}"><i class="glyphicon glyphicon-plus"></i></a> {{tag.tag}}</li>
    {% endfor %}
  </ul>
  

</script>

<div class="row">
  <div class="col-md-4">
    <h3>En attente</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <form action="" class="manual-tweet form-inline">
            Ajouter un tweet manuellement (url ou id) : <br />
            <input type="text" name="tweet_url" class="form-control"><button class="btn btn-sm btn-info" type="submit"><i class="glyphicon glyphicon-plus"></i></button>
          </form>
        </div>
      </div>
    </div>
    <div id="tw_pending" class="row">
    {% for tw in pending %}
      <div class="col-md-12 tweet" data-id="{{tw.id}}">
        <div class="well">
          <div>
            <a href="http://twitter.com/{{ tw.screen_name }}">@{{ tw.screen_name }}</a> : {{tw.text}}      
          </div>
          <div class="actions">
            <a href="" class="btn btn-sm btn-success validate"><i class="glyphicon glyphicon-ok"></i></a>
            <a href="" class="btn btn-sm btn-danger delete"><i class="glyphicon glyphicon-trash"></i></a>
          </div>
          {% if tw.images is not empty %}
          <div class="images">
            {% for imsrc in tw.images %}
              <a href="" class="modal_image"><img src="{{imsrc}}" /></a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-4">
    <h3>Validés</h3>
    <div id="tw_valid" class="row">
      {% for tw in valid %}
      <div class="col-md-12 tweet" data-id="{{tw.id}}">
        <div class="well">
          <div>
            <a href="http://twitter.com/{{ tw.screen_name }}">@{{ tw.screen_name }}</a> : {{tw.text}}      
          </div>
          <div class="actions">
            <a href="" class="btn btn-sm btn-warning star"><i class="glyphicon glyphicon-star"></i></a>
            <a href="" class="btn btn-sm btn-danger delete"><i class="glyphicon glyphicon-trash"></i></a>
            <a href="" class="btn btn-sm btn-info list_tag"><i class="glyphicon glyphicon-tag"></i></a>
          </div>
          {% if tw.images is not empty %}
          <div class="images">
            {% for imsrc in tw.images %}
              <a href="" class="modal_image"><img src="{{imsrc}}" /></a>
            {% endfor %}
          </div>
          {% endif %}
          <div class="tags">
          {% for tag in tw.tags %}
            <span class="label label-default tag"><a href="" class="remove_tag" data-tag_id="{{tag.id}}"><i class="glyphicon glyphicon-minus"></i></a> {{tag.tag}}</span> 
          {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-4">
    <h3>Mise en avant</h3>
    <div id="tw_starred" class="row">
      {% for tw in starred %}
      <div class="col-md-12 tweet" data-id="{{tw.id}}">
        <div class="well">
          <div>
            <a href="http://twitter.com/{{ tw.screen_name }}">@{{ tw.screen_name }}</a> : {{tw.text}}      
          </div>
          <div class="actions">
            <a href="" class="btn btn-sm btn-warning unstar"><i class="glyphicon glyphicon-remove"></i></a>
            <a href="" class="btn btn-sm btn-info list_tag"><i class="glyphicon glyphicon-tag"></i></a>
          </div>
          {% if tw.images is not empty %}
          <div class="images">
            {% for imsrc in tw.images %}
              <a href="" class="modal_image"><img src="{{imsrc}}" /></a>
            {% endfor %}
          </div>
          {% endif %}
          <div class="tags">
          {% for tag in tw.tags %}
            <span class="label label-default tag"><a href="" class="remove_tag" data-tag_id="{{tag.id}}"><i class="glyphicon glyphicon-minus"></i></a>{{tag.tag}}</span> 
          {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  </div>

</div>

<script>
  function getPendingTweets(since_id){

    var queryString = {'since_id' : since_id};
    $.ajax(
        {
            type: 'GET',
            url: '/ajax/since?since_id='+since_id,
            dataType: 'json',
            success: function(data){
                console.log(data);
                if(data.length > 0){
                  for(i in data){
                    var tw = data[i];
                    var elt = $('<div class="col-md-12 tweet" data-id="'+tw.ty_id+'"><div class="well"><div><a href="http://twitter.com/'+tw.screen_name+'">@'+tw.screen_name+'</a> : '+tw.text+'</div><div class="actions"><a href="" class="btn btn-sm btn-success validate"><i class="glyphicon glyphicon-ok"></i></a> <a href="" class="btn btn-sm btn-danger delete"><i class="glyphicon glyphicon-trash"></i></a></div><div class="images"></div></div></div>');
                    console.log(data);
                    for(im in tw.images){
                      var src = tw.images[im];
                      elt.find('.images').append('<a href="" class="modal_image"><img src="'+src+'"></a>')
                    }

                    $("#tw_pending").prepend(elt);
                  }
                  console.log(data[0].ty_id);
                  getPendingTweets(data[0].ty_id);
                  
                }else{
                  getPendingTweets(since_id);
                }
            }
        }
    );
  }

  $(function() {
    
    {% if pending[0] is not defined %}
      getPendingTweets('0');
    {% else %}
      getPendingTweets('{{pending[0].id}}');
    {% endif %}

  });

  $(document).on('click', '.delete', function(){
    var self = $(this);
    var self_parent = self.parents('.tweet')
    var ty_id = self_parent.data('id');

    $.ajax({
      type: 'POST',
      url: '/ajax/tweet/'+ty_id+'/updatestatus',
      dataType: 'json',
      data:{'status':'canceled'},
      success: function(data){
        if(data.saved == 'ok'){
          self_parent.remove();  
        }else{
          alert(data.saved);
        }
      }
    });
    return false;
  });
  $(document).on('click', '.validate, .unstar', function(){
    var self = $(this);
    var self_parent = self.parents('.tweet')
    var ty_id = self_parent.data('id');

    $.ajax({
      type: 'POST',
      url: '/ajax/tweet/'+ty_id+'/updatestatus',
      dataType: 'json',
      data:{'status':'valid'},
      success: function(data){
        if(data.saved == 'ok'){
          var tw = self_parent.detach();
          if(tw.find('.tags').length == 0){
            tw.find('.well').append('<div class="tags"></div>');
          }

          tw.prependTo("#tw_valid")
            .find(".actions")
            .html('<a href="" class="btn btn-sm btn-warning star"><i class="glyphicon glyphicon-star"></i></a> <a href="" class="btn btn-sm btn-danger delete"><i class="glyphicon glyphicon-trash"></i></a> <a href="" class="btn btn-sm btn-info list_tag"><i class="glyphicon glyphicon-tag"></i></a>');  
        }else{
          alert(data.saved);
        }
      }
    });
    return false;
  });

  $(document).on('click', '.star', function(){
    var self = $(this);
    var self_parent = self.parents('.tweet')
    var ty_id = self_parent.data('id');

    $.ajax({
      type: 'POST',
      url: '/ajax/tweet/'+ty_id+'/updatestatus',
      dataType: 'json',
      data:{'status':'starred'},
      success: function(data){
        if(data.saved == 'ok'){
          self_parent.detach()
                     .prependTo("#tw_starred")
                     .find(".actions")
                     .html('<a href="" class="btn btn-sm btn-warning unstar"><i class="glyphicon glyphicon-remove"></i></a> <a href="" class="btn btn-sm btn-info list_tag"><i class="glyphicon glyphicon-tag"></i></a>');  
        }else{
          alert(data.saved);
        }
      }
    });
    return false;
  });


  $(document).on('click', '.list_tag', function(){
    if($(this).siblings('.popover').length > 0){
      $(this).popover('destroy') ;
      return false;
    }
    $(this).popover(
      {content: function(elt){
                    return $("#popover_tag").html();
                },
       html: true,
       placement: "bottom",
       title: "Ajouter à un channel"
      })
    .popover('toggle');
    return false;
  });

  $(document).on('click', '.add_tag', function(){
    var self = $(this);
    var self_parent = self.parents('.tweet')
    var ty_id = self_parent.data('id');
    var tag_id = self.data('tag_id');

    $.ajax({
      type: 'POST',
      url: '/ajax/tweet/'+ty_id+'/add_tag',
      dataType: 'json',
      data:{'tag_id':tag_id},
      success: function(data){
        if(data.saved == 'ok'){
          if(self_parent.find('.tags a[data-tag_id='+data.tag.id+']').length == 0){
            self_parent.find('.tags').append(' <span class="label label-default tag"><a href="" class="remove_tag" data-tag_id="'+data.tag.id+'"><i class="glyphicon glyphicon-minus"></i></a> '+data.tag.tag+'</span>' );
          }
        }else{
          alert(data.saved);
        }
      }
    });
    return false;
  });

  $(document).on('click', '.remove_tag', function(){
    var self = $(this);
    var self_parent = self.parents('.tweet')
    var ty_id = self_parent.data('id');
    var tag_id = self.data('tag_id');
    $.ajax({
      type: 'POST',
      url: '/ajax/tweet/'+ty_id+'/remove_tag',
      dataType: 'json',
      data:{'tag_id':tag_id},
      success: function(data){
        if(data.saved == 'ok'){
          self_parent.find('.tags a[data-tag_id='+data.tag.id+']').parents('.tag').remove();
        }else{
          alert(data.saved);
        }
      }
    });
    return false;
  });

  $(document).on('submit', '.manual-tweet', function(){
    $(this).find('button').hide();
    var self = $(this)
    var data = $(this).serialize();
    $.ajax({
      type: 'POST',
      url: '/ajax/tweet/add',
      dataType: 'json',
      data:data,
      success: function(data){
        if(data.saved == 'ok'){
          
        }else{
          alert(data.saved);
        }
        self.find('button').show();
        self.find('input').val('');
      }
    });
    return false;
  });

</script>

<style>
  .actions{
    text-align: right;
    margin-top: 15px;
  }
  .popover{
    min-width: 200px;
  }

  .tweet .images img{
    max-width:100px;
    max-height:100px;
  }
</style>

{% endblock %}