<!DOCTYPE html>
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Twitter live curation - Admin</title>

  {# CSS external files #}
  <link rel="stylesheet" href="{{ app.request.basepath }}/css/normalize.css">
  <link rel="stylesheet" href="{{ app.request.basepath }}/css/bootstrap.min.css">
  <script src="{{ app.request.basepath }}/js/jquery-2.1.4.min.js"></script>
</head>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->
    
    {# Navbar #}
    {% include 'admin/block/navbar.html.twig' %}


    {# Content block #}
    <div class="container-fluid">
      {% block content %}
      {% endblock %}
      <br/>
    </div>
    
    {# Javascript external files #}
    <script src="{{ app.request.basepath }}/js/modernizr-2.8.3.min.js"></script>
    <script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
    

  </body>
</html>
