<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Connexion</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ app.request.basepath }}/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      /* Override some defaults */
      html, body {
        background-color: #eee;
      }
      .container {
        width: 356px;
        position:absolute;
        top:40%;
        left:0;
        right:0;
        margin:-100px auto 0;
      }
      /* The white background content wrapper */
      .container > .content {
        background-color: #fff;
        -webkit-border-radius: 10px 10px 10px 10px;
           -moz-border-radius: 10px 10px 10px 10px;
                border-radius: 10px 10px 10px 10px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
        overflow:hidden;
      }
      .container .login-header {
        position: relative;
        padding: 10px 20px;
        margin: 0;
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
        background-color: #6c8393;
        background-image: -moz-linear-gradient(#7f95a5, #6c8393);
        background-image: -webkit-linear-gradient(#7f95a5, #6c8393);
        background-image: linear-gradient(#7f95a5, #6c8393);
        background-repeat: repeat-x;
      }
      .container .login-header h1 {
        font-size:18px;
        line-height:24px;
        margin:0;
      }
      .container .login-form {
        padding:20px;
        border-bottom-color: #586873;
      }
      .container .login-form form {
        margin:0;
        text-align:center;
      }
      .container .login-form form .clearfix {
        margin-bottom:8px;
      }
      .container .login-form form .clearfix.error {
        color:red;
        margin-bottom:10px;
        font-size:13px;
      }
      .container .login-form form .clearfix input {
        width:300px;
        padding:6px;
      }
      legend {
        margin-right: -50px;
        font-weight: bold;
        color: #404040;
      }
    </style>

</head>
<body>
  <div class="container">
    <div class="content">
      <div class="login-header">
        <h1>Connexion</h1>
      </div>
      <div class="login-form">
        <form action="{{ path('login_check') }}" method="post">
          <fieldset>
            <div class="clearfix">
              <input type="text" name="_username" placeholder="Identifiant" value="{{ last_username }}">
            </div>
            <div class="clearfix">
              <input type="password" name="_password" placeholder="Mot de passe" value="">
            </div>
            {% if error and error == "Bad credentials" %}
              <div class="clearfix error">
                Identifiant et/ou mot de passe incorrect.
              </div>
            {% endif %}
            <button class="btn" type="submit">Connexion</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div> <!-- /container -->
</body>
</html>
