{% extends 'admin/layout.html.twig' %}

{% block content %}
<h1>Gestion des prédicats</h1>

<table class="table">
  {% for p in predicates %}
    <tr>
      <td class="col-md-3">
        {{p.filter}}
      </td>
      <td class="col-md-3">
        {% if p.filter == "location" %}
          {{p.predicate_json}}
        {% else %}
          {{p.predicate}}
        {% endif %}
      </td>
      <td class="col-md-2">
        {{p.active ? "Activé" : "Désactivé"}}
      </td>
      <td class="col-md-6">
        <form action="{{path('predicate_remove', {id:p.id})}}" method="POST">
          <button type="submit" class="btn btn-danger btn-sm"> <i class="glyphicon glyphicon-trash"></i> Supprimer</button>
        </form>
        {% if p.active %}
          <form action="{{path('predicate_disable', {id:p.id})}}" method="POST">
            <button type="submit" class="btn btn-warning btn-sm"> <i class="glyphicon glyphicon-remove"></i> Désactiver</button>
          </form>
        {% else %}
          <form action="{{path('predicate_activate', {id:p.id})}}" method="POST">
            <button type="submit" class="btn btn-success btn-sm"> <i class="glyphicon glyphicon-ok"></i> Activer</button>
          </form>
          
        {% endif %}
      </td>
    </tr>
  {% endfor %}

    <form action="{{path('predicate_add')}}" method="POST">
      <tr>
        <td class="col-md-3">
          <select name="predicate[filter]" clas="form-control">
            <option name="track">track</option>
            <option name="location">location</option>
            <option name="follow">follow</option>
          </select>
        </td>
        <td class="col-md-3">
          <input type="text" name="predicate[predicate]" clas="form-control"/>
        </td>
        <td class="col-md-3">
          &nbsp;
          <input type="hidden" name="predicate[active]" value="0" />
        </td>
        <td class="col-md-10">
          <button type="submit" class="btn btn-success btn-sm"> <i class="glyphicon glyphicon-plus"></i> Ajouter</button>
        </td>
      </tr>
    </form>
</table>

{% endblock %}