<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ path('home') }}">Twitter Live Curation - Admin</a>
  </div>
  
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="{{ path('home') }}">Admin</a></li>
      <li><a href="{{ path('channel_admin') }}">Channels</a></li>
      <li><a href="{{ path('predicate_admin') }}">Keywords</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ path('logout') }}">Déconnexion</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
  
</nav>